.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hr {
  border: 1px solid rgb(182, 177, 177);
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: right;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f05454, 0 0 40px #f05454, 0 0 50px #f05454, 0 0 60px #f05454, 0 0 70px #f05454;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ef4f4f, 0 0 40px #ef4f4f, 0 0 50px #ef4f4f, 0 0 60px #ef4f4f, 0 0 70px #ef4f4f, 0 0 80px;
  }
}

a {
  color: rgb(46, 248, 164);
  font-size: 12px;
  font-style: bold;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

.bot {
  text-align: center;
}

i.fas {
  color: #ef4f4f;
  }

  .fa-trash-alt {
    color: rgb(59, 91, 152);
  }